<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Product CRUD</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-7 mx-auto">
        <h3 class="my-4">Add Product Detail:</h3>
        <form method="POST" action="/add-product">
          <div class="mb-3">
            <label for="p_name" class="form-label">Product Name:</label>
            <input type="text" class="form-control" id="p_name" name="p_name" required />
          </div>
          <div class="mb-3">
            <label for="p_price" class="form-label">Product Price:</label>
            <input type="number" class="form-control" id="p_price" name="p_price" required />
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea class="form-control" name="description" id="description" required></textarea>
          </div>
          <div class="mb-3">
            <label for="category" class="form-label">Category:</label>
            <select class="form-select" name="category" id="category" required>
              <option value="" disabled selected>--Select-category--</option>
              <option value="Fashion">Fashion</option>
              <option value="Electronic">Electronic</option>
              <option value="Footwear">Footwear</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12">
        <table class="caption-top table table-dark table-hover table-striped">
          <caption>
            <h2>Product List</h2>
          </caption>
          <thead>
            <tr>
              <th>Sr No.</th>
              <th>Product Name</th>
              <th>Product Price</th>
              <th>Description</th>
              <th>Category</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach((value, idx)=> { %>
              <tr>
                <td>
                  <%= idx + 1 %>
                </td>
                <td>
                  <%= value.p_name %>
                </td>
                <td>
                  <%= value.p_price %>
                </td>
                <td>
                  <%= value.description %>
                </td>
                <td>
                  <%= value.category %>
                </td>
                <td>
                  <a href="/edit/<%= value._id %>" class="btn btn-warning me-3">Edit</a>
                  <a href="/delete/<%= value._id %>" class="btn btn-danger ">Delete</a>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>