<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BookStore</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

</head>

<body>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6 mx-auto">
        <form method="post" action="/add">
          <div class="mb-3">
            <label for="name" class="form-label">Book Name</label>
            <input name="book_name" type="text" class="form-control" id="name" aria-describedby="emailHelp" />
          </div>

          <div class="mb-3">
            <label for="price" class="form-label">Book Price</label>
            <input name="book_price" type="text" class="form-control" id="price" aria-describedby="emailHelp" />
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
      <tbody>
          <% book.map((book, index) => { let {_id, book_name,
              book_price} = book; %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= book_name %></td>
                <td><%= book_price %></td>
                <td>
                  <a href="/book/delete/<%= _id %>" class="btn btn-danger"
                    >Delete</a
                  >
                  <a href="/book/edit/<%= _id %>" class="btn btn-warning"
                    >Edit</a
                  >
                </td>
              </tr>
              <% }) %>
      </tbody>

      </table>
    </div>
  </div>
</body>

</html>